.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
.vscode
.idea
data_der/
data_der.zip
*.DS_Store
*.pyc
scripts/sandbox/ML/example_data/*.jpg
# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
